@import "Common/styles/index.scss";


.container {
  margin                 : 0 0 0 400px;
  gap                    : 40px;
  @include flex(center, center, column);
  width: $default-content-width;
  
    .content {
      @include flex(center, null, column);
      @include responsive(flex-direction, null, null, column);
      transition: all .2s;
      @include responsive(padding, 40px 0, 40px 0);
      
      .partOne {
        width                 : 100%;
        text-align            : center;
        @include flex(null, null, column);
        gap: 1em;
      
        h1 {
          color                : $color-black;
          font-size            : .9rem;
        }
      
        h3 {
          font-size            : 1.7rem;
        }
      }
      
      .partTwo {
        @include flex(center, center, row);
        align-items          : center;
        //margin-top           : -120px;

        .left {
          width                : 50%;
          position             : relative;
          @include flex(center, center, column);

          image{
            margin-right         : 10px;
            display              : inline-block;
          }
        }
      
        .right {
          width                : 50%;

          .innerContent {
            @include flex(center, null, column);
            gap                  : 10px;
    
            h3 {
              font-size        : 1.4rem;

            }

            p {
              font-size            : 20px;
              opacity              : 0.5;
            }
          }

          .heads {
           @include flex(flex-start, null, column);
           align-items: flex-start 
          
          }
        }
      }
  }
}