@import "Common/styles/index.scss";


.container {
  margin-top             : 0px;
  gap                    : 70px;
  @include flex(center, center, column);
  
    .content {
      @include flex(center);
      @include responsive(flex-direction, null, null, column);
      transition: all .2s;
      @include content();
      @include responsive(padding, 40px 0, 40px 0);

      .partOne {
        width                 : 100%;
        text-align            : center;
        @include flex(null, null, column);
        padding: 72px 0 88px 0;
      
        h1 {
          color                : $color-red;
          font-size            : 1.7rem;
          font-weight          : bolder;
        }
      
        h3 {
          font-size            : 1.7rem;
        }
      }
      
      .partTwo {
        @include flex(center, center, row);
        align-items          : center;
        //margin-top           : -120px;

        .left {
          width                : 50%;
          position             : relative;
          @include flex(center, center, column);

          image{
            margin-right         : 10px;
            display              : inline-block;
          }
        }
      
        .right {
          width                : 50%;

          .innerContent {
            @include flex(center, null, column);
            gap                  : 10px;
    
            h3 {
              font-size        : 1.4rem;

            }

            p {
              font-size            : 20px;
              opacity              : 0.5;
            }
          }

          .heads {
           @include flex(flex-start, null, column);
          
          }
        }
      }
  }
}