//@import "../../../Common/styles/mixins.scss";
@import "Common/styles/index.scss";



.container {
  display             : flex;
  // swap the left and right 
  flex-direction      : row-reverse;
  align-items         : center;

  // @include for-phone-only {    
  //   font-size: 1rem; 
  // }
  // @include for-tablet-portrait-up {    
  //   font-size: 1rem; 
  // }
  // @include for-tablet-landscape-up {    
  //   font-size: 1rem; 
  // }
  // @include for-desktop-up {    
  //   font-size: 1rem; 
  // }
  // @include for-big-desktop-up {    
  //   font-size: 1rem; 
  // }

  .left {
    width              : 50%;
    display            : flex;
    flex-direction     : column;
  };
  span {
    color                : red;
    font-size            : 25px;
    opacity              : 0.6;
  };
  p {
    font-size            : 20px;
    opacity              : 0.5;
  }
  h1 {
    font-size            : 1.7rem;
    font-weight          : bolder;
    line-height          : 1
  };
  .inner {
    display              : flex;
    flex-direction       : row;
    gap                  : 10px;
    align-items          :center;
    font-size            : 20px;
  }
  .ring {
    margin-right         : 10px;
  }
}
  .right {
    width               : 50%;
    margin-top          : 30px;
    text-align          : center;
      .phone {
        width           : 90%
      }
  };
