
@import "Common/styles/index.scss";


@mixin container-base(){  
  display            : flex;
  align-items        : center;
  margin-top         : 0px;



  h4 {
    font-size        : 1.4rem;
  };
  .title {
    display          : flex;
    flex-direction   : row;
    align-items      : center;
  };
  .inner {
    display              : flex;
    flex-direction       : row;
    gap                  : 10px;
    align-items          :center;
  }
  p {
    font-size        : 20px;
    opacity          : 0.5;
  };
  .photo {
    display          : flex;
    justify-content  : center;
    align-items      : center;
  };
  .content{
    width            : 50% !important ;
  };
};
.container{
  @include container-base();
  flex-direction     : row;
};

