@import "Common/styles/index.scss";


.container {

  .content {
    @include content();
    @include responsive(padding, 40px 0, 20px 0);

    .innerContent {
      @include flex(null, space-between);
      @include responsive(padding, 40px 0, 20px 0);
      @include responsive(flex-direction, null, column);

      .col {
        @include responsive(margin-bottom, null, 40px);
        @include flex(null, null, column);

        a {
          margin-top: 16px;
        }

        .phone,
        .mail {
          margin-top: 16px;
        }

        h4 {
          font-size    : 32px;
        }

        h5 {
          margin-top   : 16px;
          font-weight  : normal;
        }

        .inputContainer {
          margin-top: 16px;
          padding: 10px;
          border-radius: 4px;
          background   : #ffff;
          box-shadow   : -13.011px 13.0111px 104.089px rgba(0, 0, 0, 0.1);

        }

        input{
          font-weight : 500;
          font-size   : 16px;
          border      : none;
          outline     : none;
        }
        
        button {
          color             : #fff;     
          padding           : 16px 46px;
          margin-left       : auto;
          background        : #000000;
          border-radius     : 4px;
        }
      }
    }
  
    .copyright {
      border-top  : 1px solid;
      text-align  : center;
      padding     : 40px 0;
      @include responsive(padding, 40px 0, 20px 0);
    }
  }
};