@import "Common/styles/index.scss";

.container {
  transition: all .2s;
  z-index: 10;
  @include fixed(0,0,null,0);


  .content {
    transition: all .2s;
    @include flex(center);
    @include content();
    @include responsive(padding, 40px 0, 40px 0);

    nav {
      margin-left      : 40px;
      @include responsive(display, null, none);

      span {
        margin-right   : 24px;
        
        &:last-child {
          margin-right : 0;
        }
      }
    }
    button {
      color             : #fff;     
      padding           : 16px 46px;
      margin-left       : auto;
      background        : #000000;
      border-radius     : 4px;
    }
  }

};

