@import "Common/styles/index.scss";

.container {
  transition: all .2s;
  z-index: 10;
  @include fixed(0,0,null,0);
  @include responsive(padding, 10px 0, 10px 0);

  .content {
    transition: all .2s;
    @include flex(center);
    @include content();
    @include responsive(padding, 40px 0, 40px 0);

    nav {
      margin-left      : 40px;
      @include responsive(display, null, none);

      span {
        margin-right   : 24px;
        
        &:last-child {
          margin-right : 0;
        }
      }
    }
    button {
      color             : $color-white;  
      padding           : 16px 46px;
      margin-left       : auto;
      background        : $color-black;
      border-radius     : 4px;
    }
  }

  &.scrolled {
    background-color: $color-white;
    box-shadow   : -13.011px 13.0111px 104.089px rgba(0, 0, 0, 0.1);

    .content {
      @include responsive(padding, 20px 0, 20px 0);
    }
  }
};

