@import "Common/styles/index.scss";


.container {
  transition: all .2s;
  z-index: 10;
  @include fixed(0,0,null,0);
  
  .left {
    margin-left       : 5px;
    width             : 100%;
    height            : 200%;
  };
  .info {
    position      : relative;
    
  }
  h1 {
    font-size     : 3.0rem;
    margin-top    : 2rem;
    font-weight   : bold;
  }
  .p {
    font-size            : 25px;
    opacity              : 1.6;
  }
  .light {
    
    opacity       : 0.8;
 
  }

  .media {
    display       : flex;
    flex-direction: row;  
  }
  .getStartedButton {
    background-color     : black;
    padding              : 15px 10px;
    color                : white;
    border-radius        : 5px;
    flex-direction       : row;
    cursor               : pointer;
  }
  .watch {
    display              : flex;
    margin-right         : 5px;
    background           : none;
    border               : 1ps solid #181818;
    cursor               : pointer;
    margin-left: 20px;

  .video {
    padding              : 5px 10px;
    background-color     : #fff;
    display              : flex;
  }
  .button {
    background           : none;
    background-color     : #fff;
    border               : none;
    color                : 181818;
    font-size            : 20px;
    white-space          : nowrap;
  }
};

.right {
  display           : flex;
  flex-direction: column;
  margin-right: -80px;
  height             : 400%;

}

};

